@config "../tailwind.config.ts";

@import "tailwindcss";
@import './preflight.css';

:root {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1600px;
  --breakpoint-3xl: 1920px;
}

body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}